<div class="d-flex justify-content-center">
  <div class="card mt-5" style="width: 65%">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{ character?.image }}"
          class="img-fluid rounded-start"
          alt="detail-imagem-rick-and-morty"
        />
      </div>
      <div class="col-md-8 d-flex align-items-center">
        <div class="card-body">
          <h2 class="card-title text-info">{{ character?.name }}</h2>
          <div class="card-text text-info-emphasis">
            <p>Specie: {{ character?.species }}</p>
            <p>Gender: {{ character?.gender }}</p>
            <p>Where lives: {{ character?.location?.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
